<section id="tab-inbounds" class="tab-content">
    <div class="action-bar">
        <button class="btn primary-btn" id="add-inbound-btn"><i class="fa-solid fa-plus"></i> <span data-i18n="inbounds_add_btn">Создать подключение</span></button>
        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" id="inbounds-search" placeholder="Поиск подключений..." data-i18n-placeholder="inbounds_search_placeholder">
        </div>
    </div>

    <!-- Список подключений -->
    <div id="inbounds-list" class="inbounds-grid">
        <!-- Заполняется динамически -->
    </div>
</section>
