<div id="links-modal" class="modal" style="z-index: 1100;">
    <div class="glass-card modal-card">
        <div class="modal-header">
            <h2 data-i18n="links_modal_title">Ссылки подключения</h2>
            <button class="btn close-modal-btn"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="modal-body">
            <div class="input-group">
                <div class="copy-input-group">
                    <input type="text" id="import-link-input" readonly>
                    <button class="btn copy-btn" data-target="import-link-input" title="Скопировать" data-i18n-title="links_copy_btn"><i class="fa-regular fa-copy"></i></button>
                </div>
            </div>
            <div id="qrcode-container" class="qr-container">
                <!-- QR-код рендерится сюда -->
            </div>
        </div>
    </div>
</div>
