
<div class="tab-panel active-panel" id="tab-panel-basic">
<div class="input-group">
<label data-i18n="ib_label_remark" for="ib-remark"></label>
<input id="ib-remark" placeholder="VLESS Reality" type="text"/>
</div>
<div class="input-row">
<div class="input-group">
<label data-i18n="inbound_port" for="ib-port"></label>
<div class="copy-input-group">
<input id="ib-port" max="65535" min="1" placeholder="443" type="number"/>
<button class="btn secondary-btn" data-i18n-title="ib_title_gen_port" id="ib-gen-port-btn" style="margin-left: 5px;" title="" type="button"><i class="fa-solid fa-wand-magic-sparkles"></i></button>
</div>
</div>
<div class="input-group">
<label data-i18n="ib_label_protocol" for="ib-protocol"></label>
<select id="ib-protocol">
<option value="vless">VLESS</option>
<option value="vmess">VMess</option>
<option value="trojan">Trojan</option>
<option value="shadowsocks">Shadowsocks</option>
<option value="hysteria2">Hysteria 2</option>
<option value="socks">SOCKS5</option>
<option value="http">HTTP</option>
</select>
</div>
<div class="input-group">
<label data-i18n="ib_label_core" for="ib-core"></label>
<select id="ib-core">
<option value="xray">Xray-core</option>
<option value="singbox">sing-box</option>
<option value="hysteria">Hysteria 2</option>
</select>
</div>
</div>
<div class="input-row">
<div class="input-group">
<label data-i18n="ib_label_total" for="ib-total"></label>
<input id="ib-total" min="0" type="number" value="0"/>
</div>
<div class="input-group">
<label data-i18n="ib_label_expiry" for="ib-expiry-time"></label>
<input id="ib-expiry-time" type="datetime-local"/>
</div>
</div>
</div>
